.bodybackground {
  background: linear-gradient(
    90deg,
    rgba(209, 219, 170, 1) 0%,
    rgba(237, 229, 211, 1) 35%,
    rgba(228, 213, 196, 1) 100%
  );
}

.aboutme {
  color: teal;
  font-family: ui-serif;
  font-weight: bold;
  font-size: 50px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 400px;
  }

  #sidebar {
    margin-top: 20px;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(49, 48, 56);
  color: rgb(49, 48, 56);
  text-align: center;
  border-top: 5px solid rgb(0, 185, 176);
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
